@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --primary-color: #9c88ff;
  --secondary-color: #2ecc71;
  --tertiary-color: #c0392b;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.container {
  margin: 30px auto;
  width: 90%;
  max-width: 400px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
  font-family: "Lato", sans-serif;
  font-size: 36px;
  text-align: center;
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color),
    var(--tertiary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: changeColor 5s infinite linear alternate;
}

@keyframes changeColor {
  0% {
    --primary-color: #9c88ff;
    --secondary-color: #2ecc71;
    --tertiary-color: #c0392b;
  }
  50% {
    --primary-color: #c0392b;
    --secondary-color: #9c88ff;
    --tertiary-color: #2ecc71;
  }
  100% {
    --primary-color: #2ecc71;
    --secondary-color: #c0392b;
    --tertiary-color: #9c88ff;
  }
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 10px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: var(--secondary-color);
}

.money.minus {
  color: var(--tertiary-color);
}

label {
  display: inline-block;
  margin: 10px 0;
}

.btn {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.btn:hover {
  background-color: #7f6bff;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.list li:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.list li.plus {
  border-right: 5px solid var(--secondary-color);
}

.list li.minus {
  border-right: 5px solid var(--tertiary-color);
}

.delete-btn {
  cursor: pointer;
  background-color: var(--tertiary-color);
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
